<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'port/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/x-icon" href="{% static 'port/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Saira+Extra+Condensed&display=swap"
        rel="stylesheet">


</head>

<body>
    <nav id="hom">
        <button class="menu-btn">&#9776; </button>
        <div class="left">
            <h>About</h>
        </div>
        <div class="right">
            <ul>
                <li><a  href="{% url 'index' %}" >Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        

        <section id="aboutt" class="abt">


            <p>Greetings! I'm Rohit Shahi, a second-year Computer Science student at VESIT, eagerly venturing into the
                intricate world of technology. My journey encompasses a fervor for web development and a burgeoning
                interest in machine learning. Currently honing my skills in Kali Linux and cybersecurity, I'm on a
                mission to apply my knowledge to real-world challenges. In the bustling corridors of academia, I'm not
                just a student; I'm an aspiring developer keen on translating classroom learning into impactful
                projects. With my eyes set on graduating in 2026, I'm actively seeking opportunities to collaborate,
                innovate, and contribute meaningfully to the tech community. Beyond the code editor, you'll find me
                fueled by curiosity, ready to embrace the dynamic evolution of technology. Let's connect and embark on
                this exciting journey of exploration and creation together.
                <br>



            <div class="container">
                <div class="skill-box">
                    <span class="title">HTML</span>

                    <div class="skill-bar">
                        <span class="skill-per html">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>

                <div class="skill-box">
                    <span class="title">CSS</span>

                    <div class="skill-bar">
                        <span class="skill-per css">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">JavaScript</span>

                    <div class="skill-bar">
                        <span class="skill-per javascript">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">C/C++</span>

                    <div class="skill-bar">
                        <span class="skill-per nodejs">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Python</span>

                    <div class="skill-bar">
                        <span class="skill-per py">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Django</span>

                    <div class="skill-bar">
                        <span class="skill-per dj">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">dsa</span>

                    <div class="skill-bar">
                        <span class="skill-per dsaa">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
                <div class="skill-box">
                    <span class="title">Git</span>

                    <div class="skill-bar">
                        <span class="skill-per gi">
                            <span class="tooltip"></span>
                        </span>
                    </div>
                </div>
            </div>


            </p>
        </section>

</body>
</html>