<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rohit's - Devloper Portfolio </title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'port/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'port/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Saira+Extra+Condensed&display=swap"
        rel="stylesheet">


</head>

<body>
    <nav id="hom">
        <button class="menu-btn">&#9776; </button>
        <div class="left">
            <h>Rohit's Portfolio</h>
        </div>
        <div class="right">
            <ul>
                <li><a  href="{% url 'index' %}" >Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <section class="first">
            <div class="conto">
                "Passionate computer science student skilled
                <div>in full-stack web development and machine learning.</div>
                <div> I specialize in creating interactive web applications and exploring advanced algorithms,</div>
                <div>driven by a commitment to push technological boundaries."</div>
            </div>
        </section>
        <section class="second">
            <div class="buttons">
                <button class="btn">Download Resume</button>
                <button class="btn">Github</button>
            </div>
        </section>


        
</body>

</html>